@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  font-size: 18px;
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*класс navigation-item-user не стилизую, т.к. он visiually-hidden и на его месте потом будут иконки и кнопка/ссылка*/

/*Навигация*/

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-left {
  width: 514px;
  margin: 0;
  padding-left: 70px;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
  padding-right: 70px;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

/*Главная страница*/

.page-container {
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

/*Главная страница, блок под центральным большим логотипом и заголовок "Заинтересовались?"*/

.main-title {
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.main-title-reasons {
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
  color: #333333;
  font-size: 22px;
  text-align: center;
}

/*Главная страница, центральный блок, 5 достоинств Седоны*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-wrapper-row {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-wrapper {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
}

.advantages-img {
  margin: 0;
  padding: 0;
  width: 800px;
}

.advantages-title {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-number {
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding: 0;
  display: flex;
  color: #333333;
}

.advantages-wrapper-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wrapper-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper-white {
  background-color:  #FFFFFF;
}

.advantages-wrapper-dark-blue {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-wrapper-dark-blue .advantages-description {
  color: #FFFFFF;
}

/*Главная страница, основной текст блока "Заинтересовались?"*/

.hotel-search-parameters {
  margin: 0 auto;
  width: 720px;
  line-height: 26px;
  color: #333333;
  font-size: 22px;
  text-align: center;
}

.hotel-search {
  margin: 0 auto;
  text-align: center;
}

/*Главная страница, блок "Подпишитесь"*/

.subscribe-wrapper {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-header {
  margin: 0 auto;
  width: 720px;
  line-height: 36px;
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto;
  width: 720px;
  line-height: 26px;
  color: #FFFFFF;
  font-size: 20px;
}

/*Футер*/
.page-footer {
  display: flex;
}

.footer-social-list {
  width: 107px;
  padding-left: 72px;
}

.footer-phone a {
  width: 720px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 40px;
  color: #000000;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 61px;
}

.htmlacademy-link {
  width: 115px;
  padding-left: 53px;
}

/*Каталог, блоки "Гостиницы Седоны" и результаты*/

.sedona-hotels {
  background-image: url("../images/sedona-hotels-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-catalog-title {
  width: 528px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 60px;
  margin-left: 71px;
}

.breadcrumbs {
  margin-left: 71px;
}

.infrastructure-title, 
.accomodation-title {
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
}

.hotels-found {
  line-height: 39px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 71px;
}

.select-control {
  margin-left: 191px;
}

.sedona-hotels-forms {
  display: flex;
}

.sedona-hotels-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 535px;
}

.infrastructure {
  margin-left: 71px;
}

.accomodation {
  margin-left: 67px;
}

.results-filters {
  display: flex;
}

.results-buttons {
  width: 160px;
  margin-left: auto;
  margin-left: 81px;
}

/*Каталог, найденные гостиницы*/

.list-of-hotels-extradition {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin-left: 70px;
}

.list-of-hotels-extradition li {
  width: 339px;
}

.list-of-hotels-extradition {
  padding: 0;
}

.picture {
  width: 299px;
}

.hotel-title {
  line-height: 31px;
  font-weight: 700;
  font-size: 24px;
}

.accomodation-item, .accomodation-price {
  line-height: 23px;
  color: #333333;
}

.rating {
  color: #333333;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/*Пагинация*/

.button-download-more-wrapper {
  width: 100%;
  text-align: center;
}

.button-download-more {
  width: 620px;
  margin: 0 auto;
  text-align: center;
}

.pagination-wrapper {
  display: flex;
  width: 1056px;
}

.hotels-to-show {
  margin-left: 301px;
}

/*Каталог, блок "Подпишитесь"*/

.subscribe-wrapper-catalog {
  text-align: center;
}

.subscribe-header-catalog {
  margin: 0 auto;
  width: 720px;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description-catalog {
  margin: 0 auto;
  width: 720px;
  line-height: 26px;
  color: #333333;
  font-size: 20px;
  text-align: center;
}