@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #f2f2f2;
  font-size: 18px;
}

input {
  margin: 0;
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex; 
  flex-direction: column; 
  flex-grow: 1;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 20%);
}

.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* Кнопки */

.button {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  margin: 0;
}

.navigation-link-button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 9px 34px;
  margin-top: 13px;
  margin-bottom: 19px;
  margin-left: 20px;
}

.hotel-search-button {
  display: block;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.apply-button {
  width: 160px;
  border: 0;
  line-height: 21px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.apply-button:hover {
  background-color: #68a2ca;
}

.apply-button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.apply-button:active {
  background-color: #68a2ca;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 30%);
}

.reset-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 5px;
  margin-left: 24px;
  margin-right: 24px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  margin-top: 18px;
  text-transform: none;
}

.sedona-hotels-reset-button:hover {
  opacity: 0.6;
}

.sedona-hotels-reset-button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.sedona-hotels-reset-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.3;
}

.button-show {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 4px;
  color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

.button-show:last-of-type {
  margin-right: 0;
}

.button-show:hover,
.button-show:focus {
  outline: none;
  border-color: #83b3d3;
}

.button-show:active,
.button-show-current {
  border-color: #000;
}

.button-show-as-cards {
  background-image: url("../images/icons/show-as-a-tile.svg");
}

.button-show-separately {
  background-image: url("../images/icons/show-as-a-slideshow.svg");
}

.button-show-as-list {
  background-image: url("../images/icons/show-as-a-list.svg");
}

.button-show-more {
  display: inline-block;
  text-decoration: none;
  width: 133px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 7px;
}

.button-favorites {
  display: inline-block;
  text-decoration: none;
  border: 0;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 7px;
}

.pagination-button {
  display: block;
  width: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  background-color: #83b3d3;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 15px;
}

.pagination-button-current {
  color: #000;
  background-color: #f2f2f2;
}

.subscribe-form-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
  border: 0;
}

.button-download-more {
  width: 620px;
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 20px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.button-find {
  width: 575px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 40px;
}

.subscribe-form-button:hover,
.pagination-button:hover,
.button-download-more:hover,
.button-favorites:hover,
.button-find:hover {
  background-color: #68a2ca;
}

.button-favorites:hover {
  -webkit-box-shadow: inset 0 0 0 1px #756257;
  box-shadow: inset 0 0 0 1px #756257;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #6c9e42;
}

.subscribe-form-button:focus,
.pagination-button:focus,
.button-download-more:focus,
.button-favorites:focus,
.button-green:focus,
.button-find:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background-color: #68a2ca;
  -webkit-box-shadow: inset 0 0 0 3px #756257;
  box-shadow: inset 0 0 0 3px #756257;
}

.button-green:focus {
  background-color: #7db54f;
}

.subscribe-form-button:active,
.pagination-button:active,
.button-download-more:active,
.button-favorites:active,
.button-green:active,
.button-find:active {
  background-color: #68a2ca;
  -webkit-box-shadow: inset 0 0 0 3px #68a2ca;
  box-shadow: inset 0 0 0 3px #68a2ca;
  color: rgba(255, 255, 255, 30%);
}

.button-favorites:active {
  -webkit-box-shadow: inset 0 0 0 1px #756257;
  box-shadow: inset 0 0 0 1px #756257;
}

.button-green:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #7db54f;
}

.subscribe-catalog {
  margin-bottom: 140px;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048
}

.button-brown:focus {
  outline: none;
  background-color: #615048;
  -webkit-box-shadow: inset 0 0 0 3px #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-brown:active {
  color: rgba(255, 255, 255, 30%);
  background-color: #756257;
  -webkit-box-shadow: inset 0 0 0 3px #756257;
  box-shadow: inset 0 0 0 3px #756257;
}

.button-blue {
  background-color: #83b3d3;
}

/* Навигация */

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 350px;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 70px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.navigation-link {
  display: block;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;
  margin-left: 17px;
  margin-right: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.current {
  border-bottom: 2px solid #756257;
}

.navigation-user-link {
  position: relative;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 21px;
  padding-bottom: 27px;
}

.htmlacademy-link {
  display: block;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  color: #000;
  width: 115px;
  padding-top: 43px;
  padding-bottom: 44px;
  margin-right: 72px;
}

.navigation-link:hover,
.navigation-user-link:hover,
.footer-phone-link:hover,
.htmlacademy-link:hover {
  color: #756257;
}

.navigation-link:focus,
.navigation-user-link:focus,
.footer-phone-link:focus,
.htmlacademy-link:focus {
  outline: none;
  color: #756257;
}

.navigation-link:active,
.navigation-user-link:active,
.footer-phone-link:active,
.htmlacademy-link:active {
  color: rgba(117, 98, 87, 30%);
}

.green-circle {
  display: inline-block;
  position: absolute;
  left: 24px;
  top: 15px;
  width: 20px;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
}

.green-circle:active {
  opacity: 0.3;
  background-color: #7db54f;
}

.logo-nav {
  margin-left: 70px;
  margin-right: 30px;
}

/* Главная страница */

.page-container {
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.welcome-page-background {
  background-image: url("../images/welcome-background-decoration.svg"), url("../images/welcome-background.jpg");
  background-color: #83b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -11px;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Главная страница, блок под центральным большим логотипом и заголовок "Заинтересовались?" */

.main-title {
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 21px;
}

.main-title-reasons {
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
  color: #333;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}

/* Главная страница, центральный блок, 5 достоинств Седоны */

.advantages {
  padding-top: 65px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 78px;
}

.advantages-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages-wrapper {
  text-align: center;
  width: 400px;
}

.advantages-img {
  width: 800px;
  height: 384px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 28px;
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-number {
  text-transform: uppercase;
}

.advantages-details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #333;
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

.advantages-details-description {
  margin: 0;
}

.advantages-details-title {
  margin-bottom: 19px;
  padding-top: 5px;
}

.advantages-wrapper-blue {
  background-color: rgba(131, 179, 211, 20%);
  padding-top: 109px;
  padding-bottom: 109px;
}

.advantages-wrapper-light-blue {
  background-color: rgba(131, 179, 211, 12%);
  padding-top: 180px;
  padding-bottom: 79px;
}

.advantages-wrapper-white {
  background-color: #fff;
  padding-top: 180px;
  padding-bottom: 89px;
}

.advantages-wrapper-dark-blue {
  background-color: #83b3d3;
  color: #fff;
  padding-top: 99px;
  padding-bottom: 87px;
}

.advantages-wrapper-dark-blue .advantages-details-list {
  color: #fff;
}

.advantages-housing {
  background-image: url("../images/icons/house-illustration.svg");
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.advantages-food {
  background-image: url("../images/icons/hamburger-illustration.svg");
  background-repeat: no-repeat;
  background-position: 163px 91px;
}

.advantages-souvenirs {
  background-image: url("../images/icons/gift-illustration.svg");
  background-repeat: no-repeat;
  background-position: 168px 85px;
}

.advantages-wrapper-text-top {
  padding-top: 98px;
  padding-bottom: 108px;
}

/* Главная страница, основной текст блока "Заинтересовались?" */

.hotel-search {
  margin: 0 auto;
  text-align: center;
  padding-top: 91px;
  margin-bottom: 93px;
}

.hotel-search-parameters {
  margin: 0 auto;
  width: 720px;
  line-height: 26px;
  color: #333;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 56px;
}

.main-title-interest {
  padding-bottom: 19px;
}

/* Главная страница, блок "Подпишитесь" */

.subscribe-wrapper {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 94px;
}

.subscribe-header {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 19px;
  width: 720px;
  line-height: 36px;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 46px;
  width: 720px;
  line-height: 26px;
  color: #fff;
  font-size: 22px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe-email-input {
  width: 576px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  border: 0;
}

.modal-form,
.modal-form-input {
  font: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

.subscribe-email-input:hover,
.modal-form:hover {
  background-color: #e6e6e6;
}

.subscribe-email-input:focus,
.modal-form:focus {
  background-color: #e6e6e6;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.modal-form:active {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}

/* Футер */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-phone {
  margin: 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  margin-left: 60px;
}

.footer-social-link {
  display: block;
  width: 44px;
  height: 44px;
  color: #83b3d3;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-twitter {
  background-image: url("../images/social-icons/twitter-icon.svg");
}

.footer-social-facebook {
  background-image: url("../images/social-icons/facebook-icon.svg");
}

.footer-social-youtube {
  background-image: url("../images/social-icons/youtube-icon.svg");
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #68a2ca;
  box-shadow: inset 0 0 0 3px #68a2ca;
  border-radius: 10px;
  color: #68a2ca;
}

.footer-social-link:active {
  color: #68a2ca;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
  opacity: 0.3;
}

.footer-phone a {
  display: block;
  padding-top: 40px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 40px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Каталог, блоки "Гостиницы Седоны" и результаты */

.sedona-hotels {
  background-image: url("../images/sedona-hotels-background.jpg");
  background-color: #83b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 70px;
  padding-right: 71px;
  padding-bottom: 71px;
  margin-top: -11px;
}

.main-catalog-title {
  width: 528px;
  line-height: 60px;
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  padding-top: 45px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
}

.breadcrumbs-link-home {
  display: inline-block;
  width: 28px;
  height: 27px;
  background-image: url("../images/icons/homepage-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
  margin-left: -5px;
}

.breadcrumbs-link-home-hotels {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 25px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #83b3d3;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.3;
}

.infrastructure-title,
.accomodation-title {
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  padding-bottom: 30px;
}

.infrastructure,
.accomodation {
  padding: 0;
  border: 0;
}

.infrastructure-list li,
.accomodation-list li {
  padding-bottom: 13px;
  line-height: 23px;
}

.infrastructure-checkbox,
.accomodation-radio {
  position: relative;
  display: block;
}

.infrastructure-checkbox-label,
.accomodation-radio-label {
  display: inline-block;
  padding-left: 40px;
}

.mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  top: 1px;
  left: 0;
}

.infrastructure-checkbox:hover .infrastructure-checkbox-mark,
.accomodation-radio:hover .accomodation-radio-mark {
  opacity: 0.6;
}

.infrastructure-checkbox-input:focus + .infrastructure-checkbox-mark,
.accomodation-radio-input:focus + .accomodation-radio-mark {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0 3px #83b3d3;
  box-shadow: inset 0px 0px 0 3px #83b3d3;
  opacity: 0.6;
}

.infrastructure-checkbox-input:active + .infrastructure-checkbox-mark,
.accomodation-radio-input:active + .accomodation-radio-mark {
  opacity: 0.3;
}

.infrastructure-checkbox-input[type="checkbox"]:checked + .infrastructure-checkbox-mark {
  background-image: url("../images/icons/check-mark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.accomodation-radio-input[type="radio"]:checked + .accomodation-radio-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.sedona-hotels-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sedona-hotels-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 60px;
}

.sedona-hotels-buttons-form-wrapper {
  margin-left: auto;
}

.accomodation {
  margin-left: 64px;
}

.accomodation-radio-input[type="radio"] + .accomodation-radio-mark {
  border-radius: 50%;
}

/* Слайдер */

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin-left: 167px;
}

.catalog-filter-title {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 34px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  top: 27px;
  background-color: rgba(255, 255, 255, 30%);
}

.range-bar {
  position: absolute;
  width: 227px;
  height: 4px;
  background-color: rgba(255, 255, 255, 100%);
}

.range-toggle {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input {
  width: 50px;
  padding: 0;
  font: inherit;
  background-color: transparent;
  color: #fff;
  border: none;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-toggle:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 25%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 25%);
}

.range-toggle:focus {
  -webkit-box-shadow: inset 0px 0px 0 2px #83b3d3;
  box-shadow: inset 0px 0px 0 2px #83b3d3;
}

.range-toggle:active {
  -webkit-box-shadow: inset 0px 0px 0 3px #83b3d3;
  box-shadow: inset 0px 0px 0 3px #83b3d3;
}

/* Ячейки над слайдером */

.price-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 287px;
}

.price-fields label {
  font-size: 18px;
  color: rgba(255, 255, 255, 30%);
}

.price-fields-input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  width: 86px;
  color: #fff;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.price-fields-input::-webkit-outer-spin-button,
.price-fields-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  padding-top: 14px;
  padding-bottom: 11px;
  border: 2px solid #fff;
}

.price-field:active {
  border-color: #fff;
  background-color: #756257;
}

.price-field:focus-within {
  -webkit-box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
  position: relative;
  z-index: 1;
}

.price-field:hover:not(:focus-within) {
  border-color: rgba(255, 255, 255, 60%);
}

.price-field-min {
  padding-left: 17px;
  padding-right: 16px;
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
}

.price-field-min:focus-within {
  border-right-width: 2px;
}

.price-field-min:focus-within + .price-field {
  border-left-width: 0;
}

.price-field-min:hover {
  border-right-width: 2px;
}

.price-field-min:hover + .price-field:focus-within {
  margin-left: -2px;
}

.price-field-min:hover + .price-field:not(:focus-within) {
  border-left-width: 0;
}

.price-field-max {
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 0 4px 4px 0;
}

/* Конец слайдера */

.results-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 46px;
}

.hotels-found {
  max-width: 410px;
  font-weight: 700;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

.select {
  height: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 54px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  background-image: url("../images/icons/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control {
  width: 287px;
  margin-left: 192px;
  margin-top: -6px;
}

.select-hotels-to-show {
  width: 160px;
  height: 48px;
  color: #333;
}

.select-control:hover,
.select-control:focus,
.select-hotels-to-show:hover,
.select-hotels-to-show:focus {
  outline: none;
  border-color: #83b3d3;
}

.select-control:active,
.select-hotels-to-show:active {
  border-color: #e6e6e6;
  opacity: 0.3;
}

.results-buttons {
  margin-left: auto;
}

/* Каталог, найденные гостиницы */

.catalog-content-wrap {
  padding-left: 70px;
  padding-right: 72px;
  margin-top: 44px;
  margin-bottom: 44px;
}

.list-of-hotels-extradition {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
  -ms-grid-columns: 340px 17px 340px 17px 340px;
  grid-template-columns: 340px 340px 340px;
}

.hotel-card {
  padding: 20px;
  padding-bottom: 33px;
}

.card-internal-grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 159px 140px;
  grid-template-columns: 159px 140px;
  padding-left: 2px;
}

.hotel-link-picture {
  display: block;
  width: 299px;
  height: 206px;
}

.hotel-link-picture:hover {
  opacity: 0.6;
}

.hotel-link-picture:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

.hotel-link-picture:active {
  opacity: 0.3;
  -webkit-box-shadow: 0 0 0 3px transparent;
  box-shadow: 0 0 0 3px transparent;;
}

.hotel-title {
  line-height: 31px;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.hotel-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin-top: 17px;
}

.accomodation-item,
.accomodation-price {
  display: inline-block;
  line-height: 23px;
  color: #333;
  margin-top: 16px;
  margin-bottom: 16px;
}

.rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.rating {
  display: inline-block;
  width: 160px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-left: auto;
}

.rating-stars {
  display: inline-block;
  width: 93px;
  height: 18px;
  background-image: url("../images/icons/rating-star.svg");
  background-size: 24px 18px;
  margin-top: 10px;
}

.three-stars {
  width: 69px;
}

.two-stars {
  width: 45px;
}

/* Пагинация */

.button-download-more-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 26px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 530px;
}

.pagination-item {
  margin-right: 8px;
  text-align: center;
  padding-bottom: 3px;
}

.hotels-to-show-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotels-to-show {
  display: block;
  max-width: 180px;
  font-size: 18px;
  line-height: 23px;
  color: #333;
  margin-right: 50px;
}

/* Каталог, блок "Подпишитесь" */

.subscribe-wrapper-catalog {
  text-align: center;
  padding-top: 26px;
}

.subscribe-form-wrapper-catalog {
  margin-bottom: 140px;
}

.subscribe-header-catalog {
  margin: 0 auto;
  width: 720px;
  margin-bottom: 36px;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description-catalog {
  margin: 0 auto;
  width: 720px;
  padding-top: 10px;
  margin-bottom: 46px;
  line-height: 26px;
  color: #333;
  font-size: 22px;
  text-align: center;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 80%);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  padding-left: 68px;
  background-color: #fff;
  border-radius: 30px;
}

.modal-hotel-search {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/icons/close-cross-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.field-group-arrival,
.field-group-departure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-form-date {
  width: 420px;
  padding: 0;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px;
  color: #000;
  font-size: 17px;
  background-image: url("../images/icons/calender-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 17px right 19px;
  text-align: left;
}

.system-info-paragraph,
.warning-paragraph {
  font-size: 16px;
  line-height: 34px;
  padding: 0;
  margin: 0;
  padding-left: 155px;
}

.warning-paragraph {
  color: #ff5757;
  margin-bottom: 8px;
}

.system-info-paragraph {
  margin-bottom: 7px;
}

.adults-children-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter-field-adults,
.counter-field-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.children-label {
  padding-left: 50px;
}

.children-label-icon {
  position: relative;
  padding: 0;
  padding-left: 56px;
}

.counter-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 133px;
  margin-bottom: 40px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.button-min,
.button-max,
.quantity-counter-adults,
.quantity-counter-children {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

.quantity-counter-adults,
.quantity-counter-children {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  background-color: #f2f2f2;
  width: 33.33%;
  height: 50px;
}

.button-min,
.button-max {
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  background-size: 13px auto;
  background-color: transparent;
  opacity: 0.3;
}

.button-min {
  background-image: url("../images/icons/minus-icon.svg");
}

.button-max {
  background-image: url("../images/icons/plus-icon.svg");
}

.button-min:hover,
.button-max:hover {
  opacity: 1;
}

.button-min:focus,
.button-max:focus {
  outline: none;
  opacity: 1;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.button-min:active,
.button-max:active {
  opacity: 0.2;
  -webkit-box-shadow: 0 0 0 3px transparent;
  box-shadow: 0 0 0 3px transparent;
}

.quantity-counter-span {
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.modal-container-close {
  display: none;
}

/* Tooltip */

.tooltip {
  position: absolute;
  margin-top: 14px;
  margin-left: 114px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 4px 10px;
  background-color: #83b3d3;
  background-image: url("../images/icons/tooltip-icon.svg");
  color: #fff;
  background-repeat: no-repeat;
}

.tootltip-triangle {
  position: absolute;
  left: 2px;
  bottom: -14px;
  color: #333;
}

.tooltip-text {
  background-color: #333;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding-left: 21px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 22px;
  border-radius: 10px;
  display: block;
  width: 216px;
  position: absolute;
  right: -114px;
  margin-top: 14px;
}

.tooltip-group {
  display: none;
}

.tooltip-toggle:hover + .tooltip-group,
.tooltip-toggle:focus + .tooltip-group {
  display: block;
}
